Chat Bot/Chat bot 2.0
{"createdAt":"2025-09-05T13:29:48.038Z","updatedAt":"2025-09-08T08:23:06.000Z","id":"jRB2NEELM40nr2VR","name":"SARAN - WHATSAPP VOICE AGENT","active":true,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1280,736],"id":"2a0f3155-c9c5-4f57-adcf-fa93238df456","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"IBQfxQeFv5HGThJP","name":"SARAN - GEMINI"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }} ","options":{"systemMessage":"=You are a helpful, conversational AI assistant for customers.  \nYour role is to interpret the user’s intent and provide the most useful, natural response.  \n\n🔹 Input Sources  \nYou may receive one of the following as input:  \n- A **transcribed voice message** (if the user sent audio).  \n- A **direct text message**.  \n- An **image** (analyzed into a text description).  \n- A **video** (analyzed into a text description).  \n- A **document** (analyzed into extracted content).  \n\nCurrent input type: {{ $('WhatsApp Trigger').item.json.messages[0].type }}  \n\n---\n\n### 🎯 Your Tasks  \n1. **Understand intent**: Analyze the provided input and figure out what the user wants.  \n2. **Generate a response**: Write a clear, concise, and friendly reply that directly addresses the request.  \n3. **Decide the best response format**:  \n   - `\"text\"` → Use if the reply is short, factual, or informational.  \n   - `\"audio\"` → Use if the reply is personal, conversational, emotional, or explicitly requested in audio.  \n   - `\"image\"` → Use if the user requests an image or if a visual answer is more meaningful.  \n   - `\"video\"` → Use if the user requests a video or if a video explanation is best suited.  \n\n---\n\n### 📤 Output Format  \nAlways return results in this **exact JSON structure**:  \n\n```json\n{\n  \"reply\": \"your reply text here\",\n  \"prompt\": \"prompt for image/video generation (leave empty if not needed)\",\n  \"format\": \"text\"   // one of: text, audio, image, video , audio + image ,\n}\n\n🔹 Rules\n\nAlways keep replies user-friendly, natural, and context-aware.\n\nNever break the JSON format.\n\nIf the input is unclear → politely ask for clarification.\n\nIf the user explicitly specifies the reply type → always respect it.\n\nKeep answers conversational (not robotic), but still clear and useful.\n\nIf generating \"image\" or \"video\" → put the generation prompt inside \"prompt\" and keep \"reply\" as a short explanation.\n\nIf \"text\" or \"audio\" → set \"prompt\": \"\"."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1264,512],"id":"81766641-be88-4425-b459-773522626dfa","name":"AI Agent"},{"parameters":{"resource":"audio","input":"={{ $json.reply }}","options":{"response_format":"aac"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2064,432],"id":"18f465b9-884c-44b8-9f96-6e3f24f5fdeb","name":"Generate audio","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-512,512],"id":"313f8a88-a8db-42a6-b37c-4a910f561bde","name":"WhatsApp Trigger","webhookId":"e7ff1832-ece6-4531-98db-f2f5677f7f24","credentials":{"whatsAppTriggerApi":{"id":"GiXMJ4pAO6TIfUOW","name":"Saran - WhatsApp OAuth "}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"87ec5420-48d1-42bf-8f74-4c78cc00d2ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4564028a-c630-4362-80fe-b4d7bbac8028","leftValue":"={{ $json.messages[0].type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"473ec4d1-f614-45d5-a3ef-c501347591ca","leftValue":"={{ $json.messages[0].type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e2d223b-8472-43d1-bd0c-ba2b453d687a","leftValue":"={{ $json.messages[0].type }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e2edde3-aae2-49fc-aa14-6471899eec38","leftValue":"={{ $json.messages[0].type }}","rightValue":"={{ $json.messages[0].type }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-288,464],"id":"51ce998e-8ca1-48f7-9d60-46bbce5381e5","name":"Identify the message type"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-64,224],"id":"1384ec5c-88fd-46bf-ae5e-467b603eed65","name":"Get the Audio file details","webhookId":"0501dab9-bba2-437d-80f9-d4db9cc99afe","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[608,896],"id":"1411e934-167f-454c-91b6-51f6a755a562","name":"Analyze document","credentials":{"googlePalmApi":{"id":"O538AAZJH5NHpych","name":"SARAN - GEMINI 2.5 PRO"}}},{"parameters":{"resource":"video","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-001","mode":"list","cachedResultName":"models/gemini-2.0-flash-001"},"text":"You are a highly detailed video analysis assistant.\nYour task is to carefully analyze the provided video and return a comprehensive description covering all aspects of its content.\n\nSpecifically, describe in detail:\n\nLanguage(s) spoken – Identify the language(s) used, accents, and style of speech.\n\nSpeech content – Provide a clear transcript or summary of what is spoken, including tone and intent.\n\nVisual details – Describe people, objects, actions, gestures, facial expressions, clothing, and background elements.\n\nScene context – Setting, location, environment, time of day, atmosphere, and mood.\n\nEvents & interactions – Explain what is happening, how participants interact, and the sequence of events.\n\nEmotions – Capture emotions expressed (spoken and visual), such as happiness, sadness, anger, etc.\n\nTechnical details – Note if there is music, sound effects, or background noise.\n\nOverall meaning – Summarize the intent or message conveyed by the video.\n\nBe as detailed and precise as possible. If something is unclear, state it explicitly instead of guessing.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[608,704],"id":"263a35cb-9260-4e42-ae07-f5f0f77442e4","name":"Analyze video","credentials":{"googlePalmApi":{"id":"O538AAZJH5NHpych","name":"SARAN - GEMINI 2.5 PRO"}}},{"parameters":{"resource":"video","modelId":{"__rl":true,"value":"models/veo-2.0-generate-001","mode":"list","cachedResultName":"models/veo-2.0-generate-001"},"prompt":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[2064,816],"id":"6f0ba518-8d3d-4b3b-86f7-88836d9c69cb","name":"Generate a video","credentials":{"googlePalmApi":{"id":"O538AAZJH5NHpych","name":"SARAN - GEMINI 2.5 PRO"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[608,512],"id":"842a6c82-cae2-4ed2-bf0d-e245bb410397","name":"Analyze image","credentials":{"googlePalmApi":{"id":"O538AAZJH5NHpych","name":"SARAN - GEMINI 2.5 PRO"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-64,416],"id":"88ee4a6b-cd3b-4fde-b5c8-392e4395a9cd","name":"Get the Image details","webhookId":"0501dab9-bba2-437d-80f9-d4db9cc99afe","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].video.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-64,704],"id":"42454412-3aba-448e-85bb-db60427ec163","name":"Get the Video file details","webhookId":"0501dab9-bba2-437d-80f9-d4db9cc99afe","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"resource":"image","prompt":"={{ $('Split the Replay, Prompt and Format').item.json.reply }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2064,624],"id":"1d0ae5b5-9cf0-40e6-b8df-0ce05e67c22a","name":"Generate an image","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1392,720],"id":"5f2c65c7-71b4-492a-beb0-38ec21c09e44","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"5EYKKqRIdMxrFnDA","name":"SARAN - Postgres DB"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].document.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-64,896],"id":"1ba0c235-6466-4bdb-be94-42b97507da75","name":"Get the document details","webhookId":"0501dab9-bba2-437d-80f9-d4db9cc99afe","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer <- your WhatsApp access key ->"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,608],"id":"44ac7d07-881e-4fc6-83f0-a7100945aca1","name":"Download the file"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4564028a-c630-4362-80fe-b4d7bbac8028","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"473ec4d1-f614-45d5-a3ef-c501347591ca","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e2d223b-8472-43d1-bd0c-ba2b453d687a","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].type }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db6dda93-ed1c-47c7-8b0a-0f550e5fb4ab","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[384,576],"id":"4fa67213-16c5-47bd-a0ae-0bc6360566c0","name":"Identify the Analyser"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"inputType":"binary","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[608,320],"id":"f1022910-7970-40ce-9039-a74535f5962f","name":"Transcribe the audio","credentials":{"googlePalmApi":{"id":"IBQfxQeFv5HGThJP","name":"SARAN - GEMINI"}}},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,464],"id":"2da5c431-9c38-4274-845b-08a06d539ced","name":"Merge all the analyser"},{"parameters":{"jsCode":"// n8n Code node\n// Collects possible text outputs from merged inputs and returns with source info\n\n// Input item(s) from Merge\nconst item = items[0]; \n\n// Try to extract from different possible sources\nconst candidates = [\n  { source: \"candidates\", value: item.json?.candidates?.[0]?.content?.parts?.[0]?.text },\n  { source: \"messages\", value: item.json?.messages?.[0]?.text?.body },\n  { source: \"Analyze image\", value: item.json?.content?.parts?.[0]?.text, node: \"Analyze image\" },\n  { source: \"Analyze video\", value: item.json?.content?.parts?.[0]?.text, node: \"Analyze video\" },\n  { source: \"Analyze document\", value: item.json?.content?.parts?.[0]?.text, node: \"Analyze document\" }\n];\n\n// Pick the first one that exists\nconst found = candidates.find(c => c.value && c.value.trim() !== \"\");\n\n// Build output\nreturn [\n  {\n    json: {\n      text: found ? found.value : \"No content found\",\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,512],"id":"8da29802-0524-4fbd-b377-a722807c6f5e","name":"Extract the Output form the analyzers"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  let raw = item.json.output;\n\n  // Remove markdown formatting (```json ... ```)\n  raw = raw.replace(/```json|```/g, \"\").trim();\n\n  // Parse the string into JSON\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    parsed = { reply: \"Error: Could not parse output\", prompt: \"\", format: \"text\" };\n  }\n\n  // Add reply, prompt, and format as separate fields\n  item.json.reply = parsed.reply || \"\";\n  item.json.prompt = parsed.prompt || \"\";\n  item.json.format = parsed.format || \"text\";\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,512],"id":"9153931f-1a19-48a7-b0fa-f4e51ae8ccac","name":"Split the Replay, Prompt and Format"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.format }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"87ec5420-48d1-42bf-8f74-4c78cc00d2ce"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4564028a-c630-4362-80fe-b4d7bbac8028","leftValue":"={{ $json.format }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58387aa0-bdf9-4a9f-a4e9-417f3f9db64a","leftValue":"={{ $json.format }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f87a857f-8d99-48c9-a65e-776112c5696a","leftValue":"={{ $json.format }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee777a72-7b29-4f5a-974f-f43d26f6ad74","leftValue":"={{ $json.format }}","rightValue":"=audio + image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1840,464],"id":"9e81bbd9-5588-4ce5-825a-da8aa378125b","name":"Specify the the Path based on the format"},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"={{ $json.reply }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2064,240],"id":"b964564e-325f-4307-81dc-a1aa35571a84","name":"Send Text message","webhookId":"22b302e4-62e9-447b-990d-b1507d7fa60e","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2288,432],"id":"6325a3cb-c81d-45a3-a92f-1dfdb1d494af","name":"Send Audio Replay","webhookId":"fe61d5cb-bb9e-49bd-88ad-b5aa1457a456","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","messageType":"image","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2288,624],"id":"cca5bf32-11b1-48fc-8785-87c7f20f33fe","name":"Send Image File","webhookId":"fe61d5cb-bb9e-49bd-88ad-b5aa1457a456","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $('Split the Replay, Prompt and Format').item.json.prompt }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2512,624],"id":"a9fd4a0f-e03b-4766-80b3-2dce71e3f09a","name":"Send Image Description","webhookId":"fe61d5cb-bb9e-49bd-88ad-b5aa1457a456","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","messageType":"video","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2288,816],"id":"ac3481bc-16ac-4d68-b033-3aa38e3a5550","name":"Send Video File","webhookId":"fe61d5cb-bb9e-49bd-88ad-b5aa1457a456","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $('Split the Replay, Prompt and Format').item.json.reply }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2512,816],"id":"b29c8a12-b279-401b-8e1f-0598ed111ff8","name":"Send Video Deception","webhookId":"fe61d5cb-bb9e-49bd-88ad-b5aa1457a456","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"resource":"audio","input":"={{ $json.reply }}","options":{"response_format":"aac"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2480,1008],"id":"4c95af3b-f503-4108-8a37-bf21b7951ba6","name":"Generate audio1","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"resource":"image","prompt":"={{ $('Split the Replay, Prompt and Format').item.json.reply }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2064,1008],"id":"15e83c05-1fa9-4691-885d-0a9f08705609","name":"Generate an image1","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2704,1008],"id":"c4497e43-dfca-4189-b763-74d9748143f9","name":"Send Audio Replay1","webhookId":"fe61d5cb-bb9e-49bd-88ad-b5aa1457a456","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","messageType":"image","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2288,1008],"id":"a4a6b999-719e-4e92-aac6-044d92a6610e","name":"Send Image File1","webhookId":"fe61d5cb-bb9e-49bd-88ad-b5aa1457a456","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Split the Replay, Prompt and Format","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Send Audio Replay","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Identify the message type","type":"main","index":0}]]},"Identify the message type":{"main":[[{"node":"Merge all the analyser","type":"main","index":0}],[{"node":"Get the Audio file details","type":"main","index":0}],[{"node":"Get the Image details","type":"main","index":0}],[{"node":"Get the Video file details","type":"main","index":0}],[{"node":"Get the document details","type":"main","index":0}]]},"Get the Audio file details":{"main":[[{"node":"Download the file","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"Merge all the analyser","type":"main","index":4}]]},"Analyze video":{"main":[[{"node":"Merge all the analyser","type":"main","index":3}]]},"Analyze image":{"main":[[{"node":"Merge all the analyser","type":"main","index":2}]]},"Get the Image details":{"main":[[{"node":"Download the file","type":"main","index":0}]]},"Get the Video file details":{"main":[[{"node":"Download the file","type":"main","index":0}]]},"Generate a video":{"main":[[{"node":"Send Video File","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Send Image File","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Get the document details":{"main":[[{"node":"Download the file","type":"main","index":0}]]},"Download the file":{"main":[[{"node":"Identify the Analyser","type":"main","index":0}]]},"Identify the Analyser":{"main":[[{"node":"Transcribe the audio","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}],[{"node":"Analyze video","type":"main","index":0}],[{"node":"Analyze document","type":"main","index":0}]]},"Transcribe the audio":{"main":[[{"node":"Merge all the analyser","type":"main","index":1}]]},"Merge all the analyser":{"main":[[{"node":"Extract the Output form the analyzers","type":"main","index":0}]]},"Extract the Output form the analyzers":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Split the Replay, Prompt and Format":{"main":[[{"node":"Specify the the Path based on the format","type":"main","index":0}]]},"Specify the the Path based on the format":{"main":[[{"node":"Send Text message","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}],[{"node":"Generate an image","type":"main","index":0}],[{"node":"Generate a video","type":"main","index":0}],[{"node":"Generate an image1","type":"main","index":0}]]},"Send Image File":{"main":[[{"node":"Send Image Description","type":"main","index":0}]]},"Send Video File":{"main":[[{"node":"Send Video Deception","type":"main","index":0}]]},"Send Video Deception":{"main":[[]]},"Generate audio1":{"main":[[{"node":"Send Audio Replay1","type":"main","index":0}]]},"Generate an image1":{"main":[[{"node":"Send Image File1","type":"main","index":0}]]},"Send Image File1":{"main":[[{"node":"Generate audio1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"df0d3ab5-f520-40b0-958e-ba9566bcec91","triggerCount":1,"shared":[{"createdAt":"2025-09-05T13:29:48.043Z","updatedAt":"2025-09-05T13:29:48.043Z","role":"workflow:owner","workflowId":"jRB2NEELM40nr2VR","projectId":"WTQM0Nsb5YipcTUX","project":{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:32:33.777Z","id":"WTQM0Nsb5YipcTUX","name":"DCXworks Private Limited <admin@dcxworks.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:31:14.290Z","role":"project:personalOwner","userId":"32e5174a-8499-41d4-a7e3-46e06856d4d5","projectId":"WTQM0Nsb5YipcTUX","user":{"createdAt":"2025-07-23T08:31:13.588Z","updatedAt":"2025-09-08T05:13:52.000Z","id":"32e5174a-8499-41d4-a7e3-46e06856d4d5","email":"admin@dcxworks.com","firstName":"DCXworks","lastName":"Private Limited","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-23T08:32:53.840Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"digital-agency","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"OiOxeHtpT13Rj2Hx","userActivatedAt":1753271399817,"easyAIWorkflowOnboarded":true,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutHttpRequest":true},"npsSurvey":{"responded":true,"lastShownAt":1755136428381}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-07","isPending":false}}]}}],"tags":[]}